@page
@model zEVRental.RazorWebApp.CuongCLA.Pages.BookingCuongClas.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BookingCuongCla</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingCuongCla.BookingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingCuongCla.BookingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingCuongCla.PlannedPickUpDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingCuongCla.PlannedPickUpDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingCuongCla.PlannedReturnDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingCuongCla.PlannedReturnDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingCuongCla.ActualPickUpDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingCuongCla.ActualPickUpDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingCuongCla.ActualReturnDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingCuongCla.ActualReturnDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingCuongCla.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingCuongCla.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingCuongCla.TotalCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingCuongCla.TotalCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingCuongCla.DepositAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingCuongCla.DepositAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingCuongCla.IsDepositPaid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingCuongCla.IsDepositPaid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingCuongCla.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingCuongCla.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingCuongCla.ModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingCuongCla.ModifiedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingCuongCla.CreatedByNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingCuongCla.CreatedByNavigation.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingCuongCla.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingCuongCla.Customer.ActionType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingCuongCla.Station)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingCuongCla.Station.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingCuongCla.Vehicle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingCuongCla.Vehicle.LicensePlate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="BookingCuongCla.BookingCuongClaid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
